<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ClassRoomNeeds.ie</title>
<link href="mystyle.css" rel="stylesheet" type="text/css" />
<style type="text/css">
</style>
</head>

<body>

<div id="container">
 <div id="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Search for a Project </a></li>
      <li><a href="#">Create a Project</a></li>
        <li><a href="#">Login or Sign Up </a></li>
    </ul>
  </div>
 <div id="banner"><img src="assets/images/banner.jpg" width="950" height="250" /></div>
 <div id="content">
   <div id="right-sidebar">
    <img src="assets/images/social-media-icons.jpg" alt="" width="250" height="59" border="0" usemap="#Map" />
    <map name="Map" id="Map">
      <area shape="rect" coords="6,2,59,58" href="http://www.facebook.com" target="_top" alt="Join out Facebook Network" />
      <area shape="rect" coords="68,3,121,56" href="http://www.twitter.com" target="_self" alt="Connect with us on twitter!" />
      <area shape="rect" coords="131,1,180,73" href="http://www.youtube.com" target="_self" alt="Check out our YouTube Videos" />
      <area shape="rect" coords="195,4,245,62" href="http://www.linkedin.com" target="_self" alt="Join our linkedin Network!" />
    </map>   
  <p  class="topic2" > Sign Up or Login</p>  <iframe width="250" height="141" src="http://www.youtube.com/embed/PeZWoDJnR5Q" frameborder="0" allowfullscreen></iframe>

<p><iframe width="250" height="188" src="http://www.youtube.com/embed/QDVECWcYtjc" frameborder="0" allowfullscreen></iframe></p>
  </div>

   <div id="left-content">
     <p class=" topics">What we Do</p>
     <p> ClassRoomNeeds.ie is an online  non for profit organisation that brings school teachers and People who want to support class room learning together.</p>
     <p>School teachers from every corner of Ireland post   classroom project requests on our site, supporters  can give any amount to   the project that most inspires them. </p>
     <p>When a project reaches its funding goal, we ship the materials to the   school. You'll get photos of the project taking place, a letter from   the teacher, and insight into how every euro was spent. Give over €50   and you'll also receive hand-written thank-yous from the students. </p>
     <p class="topics">Partnership- Cause Marketing</p>
     <p>Together we can create a partnership that will engage your customers while delivering much needed resources to School classrooms. We will help you develop an unparalleled market by doing good.<a href="#"> Contact us.</a></p>
     <p></p>
   </div>
   <p>&nbsp;</p>
 </div>
</div>
<div id="footer"><p>&copy;Copyright 2013, Evelyn Nomayo
<ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Search for a Project </a></li>
      <li><a href="#">Create a Project</a></li>
    </ul>
    <img src="assets/images/social-media-icons.jpg" alt="" width="250" height="59" border="0" usemap="#Map" />
    <map name="Map" id="Map">
      <area shape="rect" coords="6,8,46,44" href="http://www.facebook.com" target="_self" alt="Join out Facebook Network" />
      <area shape="rect" coords="56,6,95,44" href="http://www.twitter.com" target="_self" alt="Connect with us on twitter!" />
      <area shape="rect" coords="107,7,146,80" href="http://www.youtube.com" target="_self" alt="Check out our YouTube Videos" />
      <area shape="rect" coords="159,6,196,45" href="http://www.linkedin.com" target="_self" alt="Join our linkedin Network!" />
    </map>
  </p></div>

</body>
</html>
